colorama==0.4.6
setproctitle==1.2.2
psutil==6.1.0
shellingham==1.5.4
hyperframe==6.0.1
absl-py==2.1.0
pandas==2.2.3
tomli==2.2.1
filelock==3.16.1
idna==3.10
wandb==0.19.1
h2==4.1.0
tomli_w==1.1.0
Markdown==3.7
kiwisolver==1.4.8
pip==24.3.1
multidict==6.1.0
fonttools==4.55.3
iterators==0.0.2
setuptools==75.6.0
astunparse==1.6.3
flatbuffers==24.12.23
msgpack==1.1.0
opt_einsum==3.4.0
pycryptodome==3.21.0
referencing==0.35.1
second-app==1.0.0
google-pasta==0.2.0
requests==2.32.3
callbacks==1.0.0
frozenlist==1.5.0
h5py==3.12.1
cryptography==43.0.3
fsspec==2024.9.0
flwr-datasets==0.5.0
wrapt==1.17.0
markdown-it-py==3.0.0
sympy==1.13.3
seaborn==0.13.2
GitPython==3.1.44
networkx==3.4.2
protobuf==4.25.5
PySocks==1.7.1
gast==0.6.0
rich==13.9.4
tqdm==4.67.1
urllib3==2.3.0
ml-dtypes==0.4.1
hpack==4.0.0
click==8.1.8
huggingface-hub==0.27.0
numpy==1.26.4
torch==2.2.1
cffi==1.17.1
aiohttp==3.11.11
jsonschema==4.23.0
propcache==0.2.1
Jinja2==3.1.5
torchvision==0.17.1
typer==0.12.5
pathspec==0.12.1
zstandard==0.23.0
multiprocess==0.70.16
gmpy2==2.1.5
Werkzeug==3.1.3
psutil==6.1.1
xxhash==3.5.0
datasets==3.1.0
scratch-app==1.0.0
gitdb==4.0.12
jsonschema-specifications==2024.10.1
my-first-app==1.0.0
matplotlib==3.10.0
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
pytz==2024.2
yarl==1.18.3
charset-normalizer==3.4.1
tutorial-app==1.0.0
packaging==24.2
termcolor==2.5.0
first-app==1.0.0
pillow==11.0.0
pyarrow==18.1.0
Brotli==1.1.0
libclang==18.1.1
pydantic_core==2.27.2
pycparser==2.22
cycler==0.12.1
wheel==0.45.1
pydantic==2.10.4
dill==0.3.8
namex==0.0.8
pyparsing==3.2.1
torchaudio==2.5.1
docker-pycreds==0.4.0
contourpy==1.3.1
sentry-sdk==2.19.2
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
rpds-py==0.22.3
attrs==24.3.0
smmap==5.0.2
ray==2.40.0
tensorboard-data-server==0.7.2
tensorboard==2.17.1
tzdata==2024.2
optree==0.13.1
my-apptwo==1.0.0
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
flwr==1.15.0
keras==3.7.0
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
six==1.17.0
Pygments==2.18.0
grpcio==1.64.3
MarkupSafe==3.0.2
